@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: transparent; 
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff77; 
    border-radius: 20px; 
    border: none;
}

.container,
.container-fluid,
.row {
    padding: 0;
    margin: 0;
}

header, .navbar {
    background-color: transparent;
}

.navbar-brand {
    color: #d3d3d3;
    font-weight: 700;
    text-decoration: none;
    font-size: clamp(2rem, 2.4vw, 3.2rem);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link {
    margin: 0px 20px;
    text-decoration: none;
    color: #d3d3d3;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.navbar-brand:hover,
.nav-link:hover {
    color: #feec04;
}

.placard {
    background-color:red;
}

p {
    font-size: clamp(.8rem, 1.1vw, 1.3rem);
}

button {
    color: gray;
    background-color: #feec04;
    border: none;
    border-radius: 4px;
    padding: 6px 18px;
    margin: 5px;
}