@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');

:root {
    --color-text: #000000;
    --color-back: #f0eff4;
    --color-primary: #3d2645;
    --color-secundary: #832161;
    --color-contrast: #da4167;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-back);
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: var(--color-primary); 
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff77; 
    border: none;
}

.container,
.container-fluid,
.row {
    padding: 0;
    margin: 0;
}

header, .navbar {
    background-color: transparent;
}

.navbar-brand {
    color: var(--color-text);
    font-weight: 700;
    text-decoration: none;
    font-size: clamp(2rem, 2.4vw, 3.2rem);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-data {
    color: var(--color-primary);
    font-size: clamp(.9rem, 1.05vw, 1.2rem);
}

.nav-link {
    margin: 0px 20px;
    text-decoration: none;
    color: var(--color-text);
    font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.navbar-brand:hover,
.nav-link:hover {
    text-decoration: underline;
    color: var(--color-contrast); 
}

.placard {
    background-color: var(--color-primary);
}

.button-light {
    color: var(--color-back);
    background-color: var(--color-secundary);
    border: none;
    border-radius: 4px;
    padding: 6px 18px;
}

.button-light:hover {
    color: var(--color-secundary);
    background-color: var(--color-back);
}

.link-light,
.link-dark {
    padding: 15px 0px;
    text-decoration: none;
}

.link-light {
    color: var(--color-back);
}

.link-dark{
    color: var(--color-contrast);
}

.link-light:hover,
.link-dark:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-light:hover {
    color: var(--color-contrast);
}

.link-dark:hover {
    color: var(--color-secundary);
}

.emphasis {
    color: var(--color-contrast);
}

.about {
    color: var(--color-secundary);
}

.title {
    font-size: clamp(2rem, 2.4vw, 3rem);
    color: var(--color-text);
}

.text {
    text-align: justify;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    color: var(--color-text);
}

.large-image,
.small-image {
    border: none;
    border-radius: 4px; 
}

.text,
.large-image {
    margin: 7px 0px;
}