@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1931;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: transparent; 
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff77; 
    border-radius: 20px; 
    border: none;
}

.container,
.container-fluid,
.row {
    padding: 0;
    margin: 0;
}

header, .navbar {
    background-color: transparent;
}

.navbar-brand {
    color: #d3d3d3;
    font-weight: 700;
    text-decoration: none;
    font-size: clamp(2rem, 2.4vw, 3.2rem);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link {
    margin: 0px 20px;
    text-decoration: none;
    color: #d3d3d3;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.navbar-brand:hover,
.nav-link:hover {
    color: #feec04;
}

.placard {
    background-color: #ffffff77;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
}

h3,
p {
    color: #fff;
}